.header-color {
  background: rgba(47, 46, 46, 255);
}

section#services {
  background-image: url("./assets/img/black-background.png");
  height: 600px;
}

section#services i {
  font-size: 80px;
}

section#about-us {
  background-image: url("./assets/img/background-1.png");
  height: 620px;
}

section#about-us .text {
  height: 450px;
  width: 650px;
}

section#people {
  background-image: url("./assets/img/people.png");
  height: 510px;
}

section#find-us {
  background-image: url("./assets/img/background-1.png");
  height: 1100px;
}

section#find-us img {
  width: 300px;
}

span {
  display: block;
}

.btn-color {
  background: rgba(47, 46, 46, 255);
}

.btn-hover {
  background: red;
}
footer {
  background: rgba(47, 46, 46, 255);
}

footer i {
  font-size: 30px;
}
